body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.empty {
  padding: 80px 0;
}

.title {

}

.banner {
  max-height: 450px;
  min-height: 265px;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: none;
  margin-bottom: 0;
  color: white;
  padding: 60px 0;
}

.top {
  background-image: url(../Images/top.png);
  color:black;
}

.parent {
  position:absolute;
}

#finconf {
  background:white;
  border-width:1px;
  border-style:solid;
  border-color:#0000ff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#year {
  position: relative;
  right: 0;
}

.middle {
  background:
  linear-gradient(
    rgba(0, 0, 200, 0.3),
    rgba(0, 0, 200, 0.3)
    ),
  url(../Images/middle.png);
}

.bottom {

}

.footer {

}
