body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.banner {
  max-height: 450px;
  min-height: 265px;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: none;
  margin-bottom: 0;
  color: white;
  padding: 60px 0;
}

.top {
  background-image: url(../Images/top.png);
  color:black;
}
.middle {
  background:
  linear-gradient(
    rgba(0, 0, 200, 0.3),
    rgba(0, 0, 200, 0.3)
    ),
  url(../Images/middle.png);
}
.bottom {

}

.empty {
  padding: 80px 0;
}

.jds-div {
  margin-top: -50px;
  background: white;
}

.title {

}

.footer {

}
