body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.empty {
  padding: 80px 0;
}

.title {

}

.banner {
  max-height: 450px;
  min-height: 265px;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: none;
  margin-bottom: 0;
  color: white;
  padding: 60px 0;
}

/* Styling the Top Section */

.top {
  background-image: url(../Images/top.png);
  color:black;
  min-height: 801px;
}

.topcontainer {
  position:relative;
  top:18%;
}

.parent {

}

#finconf {
  background:white;
  border-width:3.5px;
  border-style:solid;
  border-color:#ADD8E6;
}

#finhead {
  padding: 20px 0 20px 0;
  font-weight:bold;
}

#year {
  position: relative;
  left:92%;
  border-left-width:thick;
  border-style:solid;
  border-left-color:#000000;
  border-right-color:#A9A9A9;
  border-bottom-color:#A9A9A9;
  border-top-color:#A9A9A9;
  background-color:#A9A9A9;
  color:white;
  margin: 0 0 0 0;
  max-width:140px;
  min-width:140px;
}

.arrow {
  position:relative;
  left:50%;
  bottom:75px;
}

.btn-primary {
  position:relative;
  left:46%;
  bottom:50px;
  padding-bottom: 20px;
}

/* Styling the Middle Section */

.middle {
  background:
  linear-gradient(
    rgba(0, 0, 200, 0.3),
    rgba(0, 0, 200, 0.3)
    ),
  url(../Images/middle.png);
  max-height:823px;
  min-height:823px;
  
}

.midrow {
  position:relative;
  top:50%;
}

.datecol {
  position:relative;
  top:50%;
}

#middate {
  position:relative;
  font-size:64px;

}

#ingod {
  font-weight:bold;
  font-size:32px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#fillertext {

}

.tablemid {

}

#saturday {
  border-left-width:thick;
  border-style:solid;
  border-left-color:#006400;
  border-right-color:#9ACD32;
  border-bottom-color:#9ACD32;
  border-top-color:#9ACD32;
  background-color:#9ACD32;
  color:white;
  margin: 0 0 0 0;
  max-width:140px;
  min-width:140px;
}

/* Styling the Bottom Section */

.bottom {

}

.footer {

}
